<div class="card mt-5" *ngIf="user$ | async as user; else loading">
  <div class="card-body">
    <h3 class="card-title text-center">Gracias por registrarte!</h3>
    <div class="form-group mt-2">
      <p class="text-center">
        Hemos enviado un correo de verificación a la dirección <strong>{{ user?.email }}</strong>
      </p>
      <p class="text-center">
        Por favor, revisa tu correo y accede al enlace de verificación para acceder a la página.
      </p>
    </div>
    <div class="form-group text-center mt-5">
      <button class="btn btn-primary" (click)="onSendEmail()">
        Reenviar email de verificación
      </button>
      <button class="btn btn-primary ml-4" routerLink="../login" (click)="logout()">
        Volver
      </button>
    </div>
  </div>
</div>

<ng-template #loading>
  Loading....
</ng-template>
