<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Administración de Multas</title>
  <link href="css/styles.css" rel="stylesheet" />
  <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>


  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <!--JQUERY-->
  <script
    src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script
    src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

  <!-- Los iconos tipo Solid de Fontawesome-->
  <link rel="stylesheet"
        href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
  <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

  <!-- DATA TABLE -->
  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
  <style>
    .main-section{
      margin:0 auto;
      margin-top:5%;
    }
    .card{
      opacity: .95;
    }
    .card-body{
      background-color: #d1d3d6;
      box-shadow: 0px 0px 3px #848484;
    }

    label{
      font-weight: bold;
    }

    .nav-tabs .nav-item a:not(.active){
      background-color: #d1d3d6;
    }

  </style>
</head>
<body class="sb-nav-fixed">
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
  <a class="navbar-brand">Comisaría Virtual</a><button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle"></button>
</nav>
<div id="layoutSidenav" *ngIf="acceso === '1' || acceso === '2'">
  <div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
      <div class="sb-sidenav-menu">
        <div class="nav">
          <div class="sb-sidenav-menu-heading">Mostrar</div>
          <a class="nav-link" routerLink="../comvirtual">
            Panel de control</a>
          <a class="nav-link" href="">
            Leyes</a>
          <div class="sb-sidenav-menu-heading">Administración</div>
          <a class="nav-link collapsed" routerLink="../usuarios" *ngIf="acceso === '1'">
            Usuarios
          </a>
          <a class="nav-link collapsed" routerLink="/multas" *ngIf="acceso === '1'">
            Multas
          </a>
          <a class="nav-link collapsed" routerLink="/multas" *ngIf="acceso === '2'">
            Multas Pendientes
          </a>
          <a class="nav-link" routerLink="../denuncias" *ngIf="acceso === '1'">
            Denuncias</a>
          <div class="sb-sidenav-menu-heading">Cerrar Sesión</div>
          <a class="nav-link" (click)="logout()" style="cursor: pointer">
            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
            Salir</a>
        </div>
      </div>
      <div class="sb-sidenav-footer">
        <div class="small">Logged in as:</div>
        {{email}}
      </div>
    </nav>
  </div>
  <div id="layoutSidenav_content">
    <main>
      <div class="container-fluid">
        <div class="mx-auto col-sm-8 main-section" id="myTab" role="tablist">
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="list" role="tabpanel" aria-labelledby="list-tab">
              <div class="card">
                <div class="card-header">
                  <div class="row">
                    <div class="col-sm-6">
                  <h4 *ngIf="acceso === '1'">Administrar Multas</h4>
                  <h4 *ngIf="acceso === '2'">Multas Pendientes</h4>
                    </div>
                    <div class="col-sm-6">
                      <a style="color: #fff;float: right;font-size: 13px;border: none;min-width: 50px;border-radius: 2px;border: none;outline: none !important;margin-left: 10px;" *ngIf="acceso === '1'" (click)="erroresFalse(); this.multaForm.reset(); this.multaForm.get('addUsuario').setValue('-1'); this.multaForm.get('addLey').setValue('-1')" href="#addMultaModal" data-toggle="modal" class="btn-sm btn-success"><span>Añadir Multa</span></a>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table id="userList" class="table table-bordered table-hover table-striped">
                      <thead class="thead-light" *ngIf="acceso === '1'">
                      <tr>
                        <th scope="col">#</th>
                        <th>Usuario</th>
                        <th>Ley</th>
                        <th>Descripción</th>
                        <th>Fecha</th>
                        <th>Del</th>
                      </tr>
                      </thead>
                      <thead *ngIf="acceso === '2' && this.multasUser.length > 0">
                      <tr>
                        <th>Ley</th>
                        <th>Descripción</th>
                        <th>Fecha</th>
                      </tr>
                      </thead>
                      <tbody *ngIf="acceso === '1'">
                      <tr *ngFor="let multa of multas; let i = index">
                        <th style="cursor:pointer" href="#detailsMultaModal" data-toggle="modal" (click)=" this.multaDetails = multa;" scope="row">{{i +1}}</th>
                        <td style="cursor:pointer" href="#detailsMultaModal" data-toggle="modal" (click)=" this.multaDetails = multa;" width="25%">{{getUser(multa.idUsuario).nombre + " " + getUser(multa.idUsuario).apellidos}}</td>
                        <td style="cursor:pointer" href="#detailsMultaModal" data-toggle="modal" (click)=" this.multaDetails = multa;" width="25%">{{getLey(multa.idLey).descripcion.substr(0,70)}}</td>
                        <td style="cursor:pointer" href="#detailsMultaModal" data-toggle="modal" (click)=" this.multaDetails = multa;" width="25%">{{multa.descripcion.substr(0,70)}}</td>
                        <td style="cursor:pointer" href="#detailsMultaModal" data-toggle="modal" (click)=" this.multaDetails = multa;" width="25%">{{multa.fecha | date:'dd/MM/yyyy'}}</td>
                        <td>
                          <a *ngIf="acceso === '1'" (click)="cargarMulta(multa)" href="#deleteMultaModal" class="delete" data-toggle="modal"><i class="fas fa-trash"></i></a>
                        </td>
                      </tr>
                      </tbody>
                      <tbody *ngIf="acceso === '2' && this.multasUser.length > 0">
                      <tr *ngFor="let multa of multasUser | paginas: page_size: page_number" style="cursor:pointer;" (click)="details(multa)">
                        <td style="cursor:pointer" href="#detailsMultaModal" data-toggle="modal" (click)=" this.multaDetails = multa;" width="25%">{{getLey(multa.idLey).descripcion.substr(0,70) + "..."}}</td>
                        <td style="cursor:pointer" href="#detailsMultaModal" data-toggle="modal" (click)=" this.multaDetails = multa;" width="25%">{{multa.descripcion.substr(0,70) + "..."}}</td>
                        <td style="cursor:pointer" href="#detailsMultaModal" data-toggle="modal" (click)=" this.multaDetails = multa;" width="25%">{{multa.fecha | date:'dd/MM/yyyy'}}</td>
                      </tr>
                      </tbody>
                      <tbody *ngIf="acceso === '2' && this.multasUser.length === 0">
                      <tr>
                        <td>No tienes multas pendientes</td>
                      </tr>
                      </tbody>
                    </table>
                    <mat-paginator *ngIf="acceso === '1'" [length]="multas.length" [pageSize]="page_size" [pageSizeOptions]="pageSizeOptions" showFirstLastButtons (page)="handlePage($event)" ></mat-paginator>
                    <mat-paginator *ngIf="acceso === '2'" [length]="multasUser.length" [pageSize]="page_size" [pageSizeOptions]="pageSizeOptions" showFirstLastButtons (page)="handlePage($event)" ></mat-paginator>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer class="py-4 bg-light mt-auto">
      <div class="container-fluid">
        <div class="d-flex align-items-center justify-content-between small">
          <div class="text-muted">Copyright &copy; Alberto Salazar Oliva 2020</div>
        </div>
      </div>
    </footer>
  </div>
</div>


<script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="js/scripts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script src="demo/chart-area-demo.js"></script>
<script src="demo/chart-bar-demo.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
<script src="demo/datatables-demo.js"></script>


<!--Modals-->
<div id="addMultaModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <form [formGroup]="multaForm" id="multaForm">
        <div class="modal-header">
          <h5 class="modal-title">Añadir Multa</h5>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <small>Usuario</small>
            <select [class.is-invalid]="multaForm.get('addUsuario').invalid && multaForm.get('addUsuario')?.touched"  class="custom-select mr-sm-2" #usuarioMulta formControlName="addUsuario" value="">
              <option value="-1">Seleccione el usuario...</option>
              <option *ngFor="let user of usuarios" value="{{user.id}}">{{user.nombre + " " + user.apellidos}}</option>
            </select>
            <div *ngIf="(userForm.invalid && userForm.touched) || userForm.dirty || errorNombre">
            <small class="text-danger" *ngIf="userForm.errors?.minlength">Debe seleccionar un usuario.</small>
            </div>
          </div>
          <div class="form-group">
            <small>Leyes</small>
            <select [class.is-invalid]="multaForm.get('addLey').invalid && multaForm.get('addLey')?.touched"  class="custom-select mr-sm-2" #leyMulta formControlName="addLey" value="">
              <option value="-1">Seleccione la ley...</option>
              <option *ngFor="let ley of leyes" value="{{ley.id}}">{{ley.descripcion}}</option>
            </select>
            <div *ngIf="(leyForm.invalid && leyForm.touched) || leyForm.dirty || errorLey">
              <small class="text-danger" *ngIf="leyForm.errors?.minlength">Debe seleccionar una ley.</small>
            </div>
          </div>
          <div class="form-group">
            <small>Descripción</small>
            <textarea [class.is-invalid]="multaForm.get('addDescripcion').invalid && multaForm.get('addDescipcion')?.touched" class="form-control" placeholder="Descripción de los hechos..." rows="4" cols="50" #descripcionMulta formControlName="addDescripcion" value=""></textarea>
            <div *ngIf="(descripcionForm.invalid && descripcionForm.touched) || descripcionForm.dirty || errorDescripcion">
              <small class="text-danger" *ngIf="descripcionForm.errors?.required">Debe escribir una descripcion.</small>
              <small class="text-danger" *ngIf="descripcionForm.errors?.minlength">Debe escribir una descripcion mas larga (min. 25 caracteres).</small>
              <small class="text-danger" *ngIf="descripcionForm.errors?.maxlength">Descripcion demasiado larga (max. 255 caracteres).</small>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button id="myBtn" type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          <input  type="submit" class="btn btn-success" value="Añadir" (click)="addMulta(usuarioMulta.value, descripcionMulta.value, leyMulta.value);">
        </div>
      </form>
    </div>
  </div>
</div>
<div id="deleteMultaModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">

        <div class="modal-header">
          <h4 class="modal-title">Eliminar Usuario</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
          <p>Seguro de que quieres eliminar la multa seleccionada?</p>
          <p class="text-warning"><small>Esta acción no se puede deshacer.</small></p>
        </div>
        <div class="modal-footer">
          <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
          <input type="submit" class="btn btn-danger" data-dismiss="modal" value="Borrar" (click)="elminarMulta()">
        </div>

    </div>
  </div>
</div>
<div id="detailsMultaModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">{{getUser(multaDetails.idUsuario)?.nombre + " " + getUser(multaDetails.idUsuario)?.apellidos}}</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
          <p><strong>Descripción: </strong>{{this.multaDetails.descripcion}}</p>
          <p><strong>Ley: </strong>{{getLey(this.multaDetails.idLey)?.descripcion}}</p>
          <p><strong>Fecha: </strong>{{this.multaDetails.fecha | date: 'dd/MM/yyyy'}}</p>
        </div>
        <div class="modal-footer">
          <input type="button" class="btn btn-default" data-dismiss="modal" value="Cerrar">
        </div>
    </div>
  </div>
</div>

</body>
</html>

