<!doctype html>
<html lang="en">
<head>
  <title>Sidebar 07</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <!--Noticias-->

  <!-- Site Icons -->
  <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
  <link rel="apple-touch-icon" href="images/apple-touch-icon.png">

  <!-- Design fonts -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.css" rel="stylesheet">

  <!-- FontAwesome Icons core CSS -->
  <link href="css/font-awesome.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="style.css" rel="stylesheet">

  <!-- Responsive styles for this template -->
  <link href="css/responsive.css" rel="stylesheet">

  <!-- Colors for this template -->
  <link href="css/colors.css" rel="stylesheet">

  <!-- Version Tech CSS for this template -->
  <link href="css/version/tech.css" rel="stylesheet">

  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->



</head>
<body>

<div class="wrapper d-flex align-items-stretch">
  <!-- Page Content  -->
  <div id="content" class="p-4 p-md-5">

    <header class="tech-header header">
      <div class="container-fluid">
        <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" routerLink="">Inicio</a>
              </li>
              <li class="nav-item dropdown has-submenu menu-large hidden-md-down hidden-sm-down hidden-xs-down">
                <a class="nav-link" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="cursor: pointer">Noticias</a>
                <ul class="dropdown-menu megamenu" aria-labelledby="dropdown01">
                  <li>
                    <div class="container">
                      <div class="mega-menu-content clearfix">
                        <div class="tab">
                          <button class="tablinks active" onclick="openCategory(event, 'cat01')">Últimas noticias</button>
                          <!--Para añadir mas noticias-->
                          <button></button>
                          <button></button>
                          <button></button>
                          <button></button>
                          <button></button>
                          <button></button>
                          <button></button>
                          <button></button>
                          <button></button>
                        </div>

                        <div class="tab-details clearfix">
                          <div id="cat01" class="tabcontent active">
                            <div class="row">
                              <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                <div class="blog-box">
                                  <div class="post-media">
                                    <a title="">
                                      <img src="../../../assets/Home/coronavirus-ultimas-noticias-hoy-sabado-novedades-directo_620x368.jpg" alt="" class="img-fluid">
                                      <div class="hovereffect">
                                      </div><!-- end hover -->
                                      <span class="menucat">Covi-19</span>
                                    </a>
                                  </div><!-- end media -->
                                  <div class="blog-meta">
                                    <h4>España reduce su cifra diaria de muertes (+179) y contagios (+604) por Covid-19</h4>
                                  </div><!-- end meta -->
                                </div><!-- end blog-box -->
                              </div>

                              <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                <div class="blog-box">
                                  <div class="post-media">
                                    <a title="">
                                      <img src="../../../assets/Home/comercios-cerrados-en-malaga.jpg" alt="" class="img-fluid">
                                      <div class="hovereffect">
                                      </div><!-- end hover -->
                                      <span class="menucat">Covi-19</span>
                                    </a>
                                  </div><!-- end media -->
                                  <div class="blog-meta">
                                    <h4>Media España se prepara para la fase 1 mientras el Gobierno choca con autonomías que no avanzan</h4>
                                  </div><!-- end meta -->
                                </div><!-- end blog-box -->
                              </div>

                              <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                              </div>

                              <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                <div class="blog-box">
                                  <div class="post-media">
                                    <a title="">
                                      <img src="../../../assets/Home/images.jpg" alt="" class="img-fluid">
                                      <div class="hovereffect">
                                      </div><!-- end hover -->
                                      <span class="menucat">Violencia</span>
                                    </a>
                                  </div><!-- end media -->
                                  <div class="blog-meta">
                                    <h4>Detenido en Zujaira tras partir un brazo a un Policía Local con un bate de béisbol</h4>
                                  </div><!-- end meta -->
                                </div><!-- end blog-box -->
                              </div>
                            </div><!-- end row -->
                          </div>
                        </div><!-- end tab-details -->
                      </div><!-- end mega-menu-content -->
                    </div>
                  </li>
                </ul>
              </li>
              <!--Más opciones Menú
              <li class="nav-item">
                <a class="nav-link" href="tech-category-01.html">Gadgets</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="tech-category-02.html">Videos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="tech-category-03.html">Reviews</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="tech-contact.html">Contact Us</a>
              </li>
              -->
            </ul>
          </div>
        </nav>
      </div><!-- end container-fluid -->
    </header><!-- end market-header -->

    <div id="wrapper">
      <header class="tech-header header">
        <div class="container-fluid">
        </div><!-- end container-fluid -->
      </header><!-- end market-header -->

      <section class="section first-section">
        <div class="container-fluid">
          <div class="masonry-blog clearfix">
            <div class="first-slot">
              <div class="masonry-box post-media">
                <img src="../../../assets/Home/9a3d1d7741e1491b9df581ea781af34d-kjwF-RQ1VQU32CRXUS1PJ-992x558@LaVanguardia-Web.jpg" alt="" class="img-fluid" style="height: 498px">
                <div class="shadoweffect">
                  <div class="shadow-desc">
                    <div class="blog-meta">
                      <span class="bg-orange"><a title="">Covi-19</a></span>
                      <h4 style="color:white">Los Mossos activan Oris, un plan de actuación policial ante la pandemia</h4>
                    </div><!-- end meta -->
                  </div><!-- end shadow-desc -->
                </div><!-- end shadow -->
              </div><!-- end post-media -->
            </div><!-- end first-side -->

            <div class="second-slot">
              <div class="masonry-box post-media">
                <img src="../../../assets/Home/material-sustraido-por-policia-nacional-1579603236147.jpg" alt="" class="img-fluid" style="height: 498px">
                <div class="shadoweffect">
                  <div class="shadow-desc">
                    <div class="blog-meta">
                      <span class="bg-orange"><a title="">Drogas</a></span>
                      <h4 style="color: white">La Policía Nacional desmantela dos plantaciones de marihuana ocultas en viviendas unifamiliares</h4>
                    </div><!-- end meta -->
                  </div><!-- end shadow-desc -->
                </div><!-- end shadow -->
              </div><!-- end post-media -->
            </div><!-- end second-side -->

            <div class="last-slot">
              <div class="masonry-box post-media">
                <img src="../../../assets/Home/formulario-obtencion-cita-previa-revovacion-tarjeta-residencia.jpg" alt="" class="img-fluid" style="height: 498px">
                <div class="shadoweffect">
                  <div class="shadow-desc">
                    <div class="blog-meta">
                      <span class="bg-orange"><a title="">Extranjeros</a></span>
                      <h4 style="color: white"><a href="https://www.policia.es/actualidad/pdf/medidas_doc_extranjeros.pdf" title=""></a>información sobre la atención al público para la expedición de documentación de extranjeros</h4>
                    </div><!-- end meta -->
                  </div><!-- end shadow-desc -->
                </div><!-- end shadow -->
              </div><!-- end post-media -->
            </div><!-- end second-side -->
          </div><!-- end masonry -->
        </div>
      </section>

      <section class="section">
        <div class="container">
          <div class="row">
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
              <div class="page-wrapper">
                <div class="blog-top clearfix">
                  <h4 class="pull-left">Actualidad<i class="fa fa-rss"></i></h4>
                </div><!-- end blog-top -->

                <div class="blog-list clearfix">
                  <div class="blog-box row">
                    <div class="col-md-4">
                      <div class="post-media">
                        <a title="">
                          <img src="../../../assets/Home/364497.jpg" alt="" class="img-fluid" style="height: 309px">
                          <div class="hovereffect"></div>
                        </a>
                      </div><!-- end media -->
                    </div><!-- end col -->

                    <div class="blog-meta big-meta col-md-8">
                      <h4>La Policía Nacional desmantela dos plantaciones de marihuana ocultas en viviendas unifamiliares</h4>
                      <p>Los integrantes de la trama realizaron una excavación bajo tierra hasta empalmar con el cableado general para así poder conectar fraudulentamente la toma de luz que alimentaba la maquinaria e iluminación necesarias para ambas plantaciones. Todo ello provocaba un grave riesgo de incendio, debido a la próxima y abundante vegetación.</p>
                      <small class="firstsmall"><a class="bg-orange" title="">Tráfico de drogas</a></small>
                    </div><!-- end meta -->
                  </div><!-- end blog-box -->

                  <hr class="invis">

                  <div class="blog-box row">
                    <div class="col-md-4">
                      <div class="post-media">
                        <a title="">
                          <img src="../../../assets/Home/unnamed.jpg" alt="" class="img-fluid" style="height: 309px">
                          <div class="hovereffect"></div>
                        </a>
                      </div><!-- end media -->
                    </div><!-- end col -->

                    <div class="blog-meta big-meta col-md-8">
                      <h4><a title="">La Policía Nacional detiene a siete butroneros especializados en el sabotaje de alarmas y anulación de sistemas de seguridad</a></h4>
                      <p>Los arrestados -algunos de ellos viejos conocidos de los investigadores- formaban parte de un grupo itinerante y altamente especializado, con gran profesionalidad en el uso de inhibidores de frecuencia y en el manejo de sopletes de oxicorte para la apertura de cajas fuertes.</p>
                      <small class="firstsmall"><a class="bg-orange" title="">Robos</a></small>
                    </div><!-- end meta -->
                  </div><!-- end blog-box -->

                  <hr class="invis">

                  <div class="blog-box row">
                    <div class="col-md-4">
                      <div class="post-media">
                        <a title="">
                          <img src="../../../assets/Home/1586348024_610838_1586348102_noticia_normal.jpg" alt="" class="img-fluid" style="height: 309px">
                          <div class="hovereffect"></div>
                        </a>
                      </div><!-- end media -->
                    </div><!-- end col -->

                    <div class="blog-meta big-meta col-md-8">
                      <h4>Desarticulada una organización criminal especializada en el tráfico de hachís a gran escala</h4>
                      <p>En los nueve registros efectuados se han intervenido una importante cantidad de lingotes de oro, plata y piedras preciosas valorados en más de 2.000.000 euros, documentos que acreditan la compra de más de medio millón de acciones de empresas en el extranjero, 20 armas de fuego con abundante munición y más de media tonelada de hachís, entre otros efectos.</p>
                      <small class="firstsmall"><a class="bg-orange" title="">Drogas</a></small>
                    </div><!-- end meta -->
                  </div><!-- end blog-box -->

                  <hr class="invis">
                </div></div>
            </div><!-- end col -->

            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
              <div class="sidebar">
                <div class="widget">
                  <div class="banner-spot clearfix">
                    <div class="banner-img">
                      <img src="../../../assets/Home/comVirtual.jpg"  alt="" class="img-fluid" style="cursor: pointer" routerLink="../login">
                    </div><!-- end banner-img -->
                  </div><!-- end banner -->
                </div><!-- end widget -->

                <div class="widget">
                  <div class="banner-spot clearfix">
                    <div class="banner-img">
                      <img src="../../../assets/Home/leyes.jpg" alt="" class="img-fluid" style="cursor:pointer;">
                    </div><!-- end banner-img -->
                  </div><!-- end banner -->
                </div><!-- end widget -->



                <div class="widget">
                  <div class="banner-spot clearfix">
                    <div class="banner-img">
                      <img src="upload/banner_03.jpg" alt="" class="img-fluid">
                    </div><!-- end banner-img -->
                  </div><!-- end banner -->
                </div><!-- end widget -->
              </div><!-- end sidebar -->
            </div><!-- end col -->
          </div><!-- end row -->
        </div><!-- end container -->
      </section>

      <div class="dmtop">Scroll to Top</div>

    </div><!-- end wrapper -->

    <!-- Core JavaScript
    ================================================== -->
    <script src="js/jquery.min.js"></script>
    <script src="js/tether.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/custom.js"></script>


  </div>
</div>
</body>
</html>
