<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Administración de Multas</title>
  <link href="css/styles.css" rel="stylesheet" />
  <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>



  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    .main-section{
      margin:0 auto;
      margin-top:5%;
    }
    .card{
      opacity: .95;
    }
    .card-body{
      background-color: #d1d3d6;
      box-shadow: 0px 0px 3px #848484;
    }

    label{
      font-weight: bold;
    }

    .nav-tabs .nav-item a:not(.active){
      background-color: #d1d3d6;
    }

  </style>
</head>
<body class="sb-nav-fixed">
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
  <a class="navbar-brand">Comisaría Virtual</a><button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle"></button>
</nav>
<div id="layoutSidenav" *ngIf="acceso === '1'">
  <div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
      <div class="sb-sidenav-menu">
        <div class="nav">
          <div class="sb-sidenav-menu-heading">Mostrar</div>
          <a class="nav-link" routerLink="../comvirtual">
            Panel de control</a>
          <a class="nav-link" href="">
            Leyes</a>
          <div class="sb-sidenav-menu-heading">Administración</div>
          <a class="nav-link collapsed"  routerLink="../usuarios">
            Usuarios
          </a>
          <a class="nav-link collapsed" routerLink="../multas">
            Multas
          </a>
          <a class="nav-link" routerLink="/denuncias">
            Denuncias</a>
          <div class="sb-sidenav-menu-heading">Cerrar Sesión</div>
          <a class="nav-link" (click)="logout()" style="cursor: pointer">
            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
            Salir</a>
        </div>
      </div>
      <div class="sb-sidenav-footer">
        <div class="small">Logged in as:</div>
        {{email}}
      </div>
    </nav>
  </div>
  <div id="layoutSidenav_content">
    <main>
      <div class="container-fluid">
        <div class="mx-auto col-sm-8 main-section" id="myTab" role="tablist">
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="list" role="tabpanel" aria-labelledby="list-tab">
              <div class="card">
                <div class="card-header">
                  <div class="row">
                    <div class="col-sm-6">
                      <h4>Administrar Denuncias</h4>
                    </div>
                    <div class="col-sm-6">
                      <a style="color: #fff;float: right;font-size: 13px;border: none;min-width: 50px;border-radius: 2px;border: none;outline: none !important;margin-left: 10px;" (click)="erroresFalse(); this.formulario.reset(); this.formulario.get('usuario').setValue('-1'); formulario.get('tipo').setValue('-1')" href="#addDenunciaModal" data-toggle="modal" class="btn-sm btn-success"><span>Añadir Denuncia</span></a>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table id="userList" class="table table-bordered table-hover table-striped">
                      <thead class="thead-light">
                      <tr>
                        <th scope="col">#</th>
                        <th>Usuario</th>
                        <th>Descripción</th>
                        <th>Tipo</th>
                        <th>Fecha</th>
                        <th>Del</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let denuncia of denuncias | paginas: page_size: page_number; let i = index">
                        <td>{{i + 1}}</td>
                        <td (click)="denunciaDetails = denuncia" data-toggle="modal" href="#detailsDenunciaModal" style="cursor: pointer">{{getUser(denuncia.idUsuario)}}</td>
                        <td (click)="denunciaDetails = denuncia" data-toggle="modal" href="#detailsDenunciaModal" style="cursor: pointer">{{denuncia.descripcion.substr(0,70)}}</td>
                        <td (click)="denunciaDetails = denuncia" data-toggle="modal" href="#detailsDenunciaModal" style="cursor: pointer">{{getTipo(denuncia.tipo)}}</td>
                        <td (click)="denunciaDetails = denuncia" data-toggle="modal" href="#detailsDenunciaModal" style="cursor: pointer">{{denuncia.fecha | date: 'dd/MM/yy'}}</td>
                        <td>
                          <a (click)="cargarDenuncia(denuncia)" href="#deleteDenunciaModal" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                    <mat-paginator [length]="denuncias.length" [pageSize]="page_size" [pageSizeOptions]="pageSizeOptions" showFirstLastButtons (page)="handlePage($event)" ></mat-paginator>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </main>
    <footer class="py-4 bg-light mt-auto">
      <div class="container-fluid">
        <div class="d-flex align-items-center justify-content-between small">
          <div class="text-muted">Copyright &copy; Alberto Salazar Oliva 2020</div>
        </div>
      </div>
    </footer>
  </div>
</div>


<script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="js/scripts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script src="demo/chart-area-demo.js"></script>
<script src="demo/chart-bar-demo.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
<script src="demo/datatables-demo.js"></script>


<!--Modals-->
<div id="addDenunciaModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <form [formGroup]="formulario">
        <div class="modal-header">
          <h5 class="modal-title">Añadir Denuncia</h5>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <small>Usuario</small>
            <select class="custom-select mr-sm-2" formControlName="usuario"  [class.is-invalid]="formulario.get('usuario').invalid && formulario.get('usuario').touched" #adduser>
              <option value="-1">Seleccione el usuario denunciante...</option>
              <option *ngFor="let user of usuarios" value="{{user.id}}">{{user.nombre + " " + user.apellidos}}</option>
            </select>
            <div *ngIf="(userAdd.invalid && userAdd.touched) || userAdd.dirty || errorUsuario">
            <small *ngIf="userAdd.errors?.minlength" class="text-danger">Usuario requerido</small>
            </div>
          </div>
          <div class="form-group">
            <small>Tipo</small>
            <select  class="custom-select mr-sm-2" formControlName="tipo" [class.is-invalid]="formulario.get('tipo').invalid && formulario.get('tipo').touched" #addtipo>
              <option value="-1">Seleccione el tipo de denuncia...</option>
              <option *ngFor="let tipoDenuncia of tipoDenuncias" value="{{tipoDenuncia.id}}">{{tipoDenuncia.tipo}}</option>
            </select>
            <div *ngIf="(tipoAdd.invalid && tipoAdd.touched) || tipoAdd.dirty || errorTipo">
            <small *ngIf="tipoAdd.errors?.min" class="text-danger">Tipo de denuncia requerida</small>
            </div>
          </div>
          <div class="form-group">
            <small>Descripción</small>
            <textarea #adddescripcion type="text" class="form-control" value="" placeholder="Descripción de los hechos..." rows="4" cols="50" formControlName="descripcion" [class.is-invalid]="formulario.get('descripcion').invalid && formulario.get('descripcion').touched"></textarea>
            <div *ngIf="(descripcionAdd.invalid && descripcionAdd.touched) || descripcionAdd.dirty || errorDescripcion">
            <small class="text-danger" *ngIf="descripcionAdd.errors?.required">Debe escribir una descripcion.</small>
            <small class="text-danger" *ngIf="descripcionAdd.errors?.minlength">Debe escribir una descripcion mas larga (min. 25 caracteres).</small>
            <small class="text-danger" *ngIf="descripcionAdd.errors?.maxlength">Descripcion demasiado larga (max. 255 caracteres).</small>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
          <input type="submit" class="btn btn-success" value="Añadir" (click)="addDenuncia(adduser.value, addtipo.value, adddescripcion.value);">
        </div>
      </form>
    </div>
  </div>
</div>
<div id="deleteDenunciaModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Eliminar Denuncia</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
          <p>Seguro de que quieres eliminar la denuncia seleccionada?</p>
          <p class="text-warning"><small>Esta acción no se puede deshacer.</small></p>
        </div>
        <div class="modal-footer">
          <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
          <input type="submit" class="btn btn-danger" value="Borrar" data-dismiss="modal" (click)="eliminarDenuncia()">
        </div>
    </div>
  </div>
</div>
<div id="detailsDenunciaModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{getUser(denunciaDetails.idUsuario)}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
        <p><strong>Descripción: </strong>{{this.denunciaDetails.descripcion}}</p>
        <p><strong>Tipo de Denuncia: </strong>{{getTipo(this.denunciaDetails.tipo)}}</p>
        <p><strong>Fecha: </strong>{{this.denunciaDetails.fecha | date: 'dd/MM/yyyy'}}</p>
      </div>
      <div class="modal-footer">
        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cerrar">
      </div>
    </div>
  </div>
</div>

</body>
</html>
<script>
    $('#addDenunciaModal').modal('hide');
</script>
